body {
    background-color: #f8f4f4cb;
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif
  }

  .container_header:hover {
    width: 100%;
  }

  .container_header .header_content {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-style: italic;
    font-family: 'Source Sans Pro', cursive;
  }

  .container_nav {
    text-align: center;
    width: 60%;
    margin: 10px auto;
  }

  .container {
    border-top: 2px solid #000;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
  }

  .link {
    position: relative;
    margin-top: 10px;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
  }

  .link:first-child {
    margin-left: -55px;
  }

  .link:last-child {
    margin-right: -55px;
  }

  .link::after {
    content: "";
    width: 10px;
    height: 10px;
    background: #fff;
    position: absolute;
    border-radius: 10px;
    top: -18px;
    left: 50%;
    transform: translatex(-50%);
    border: 2px solid black;
  }

  .active::after {
    background: black;
  }

  .container_main {
    display: flex;
    flex-direction: column;
    padding-top: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    padding: 0.2em 0.6em 0.2em 0.6em;
    margin-left: 5px;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  }

  .container_main .container_explanation .container_explanation_header{
    font-size: 25px;
    font-style: italic;
    padding-bottom: 10px;
  }

  .container_main .container_explanation .container_explanation_contents{
    font-size: 20px;
  }

  .container_main .container_implementation .container_implementation_header {
    font-size: 25px;
    font-style: italic;
    padding-bottom: 10px;
  }

  .container_main .container_implementation .container_implementation_contents{
    font-size: 20px;
  }

  .container_main .container_license .container_license_header {
    font-size: 25px;
    font-style: italic;
    padding-bottom: 10px;
  }

  .container_main .container_license .container_license_contents {
    font-size: 20px;
  }

  .container_main #focused{
    font-size:45px;
  }

  .zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
  }

  #svg {
    margin-left: 15% !important;
    margin-right: 15% !important;
  }

  #barSvg {
    margin-left: 15% !important;
    margin-right: 15% !important;
  }

  hr {
    width: 70%;
    margin-left: 15% !important;
    margin-right: 15% !important;
    border-top: 1px solid rgba(80, 78, 78, 0.774);
  }

  /* Footer Container & Content */
  footer{
    color: rgb(0, 0, 0);
    width: 33%;
    height: 25px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    padding-top: 5px;
  }

  footer .mail{
    text-decoration: underline;
  }
  /* Footer Container & Content */
